


<style>
  .form-container {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  

  .form-container.ready {
    visibility: visible;
    opacity: 1;
  }

  /* Apply color to description text */
  .cmCBdM {
    color: #ffffff; /* Replace with your desired color */
  }

  .Hputu {
    color: #fff;
    border: solid 1px #fff;
  }

  /* Breadcrumbs styling */
  .breadcrumbs {
    padding: 10px 40px 10px 40px;
  }

  /* Default Styles */
  .section.hero-contact {
    background-color: {{settings.brand_color_darkblue}}; /* Default Black background */
    color: {{settings.brand_color_white}}; /* White text color for contrast */
    text-align: left; /* Ensure the title is left-aligned */
  }

  /* Full-width text on desktop, no word wrap */
  #form-message {
    width: 100%;
    white-space: nowrap; /* Prevent word wrap */
    overflow: hidden; /* Hide overflow if text is too long */
    text-align: left; /* Ensure text is left-aligned */
    margin-left: 0; /* Align to left on desktop */
    color: #000000;
  }

  /* Align the form left under the text */
  .form {
    background-color: {{settings.brand_color_darkblue}}; /* Default Black background */
    color: {{settings.brand_color_white}}; /* White text color for contrast */
    padding: 40px; /* Increased padding around the form */
    border-radius: 8px; /* Optional: rounded corners */
    max-width: 600px;
    margin-left: 0; /* Align form to the left on desktop */
    margin-right: auto;
  }

  /* Apply white text specifically to form titles */
  .form h1, .form h2, .form h3, .form label {
    color: #fff;
  }

  /* Media query for mobile devices */
  @media (max-width: 768px) {
    .form {
      margin: 0 auto; /* Center the form on mobile */
      text-align: left; /* Ensure text inside the form is left-aligned */
    }

    #form-message {
      width: auto;
      white-space: normal; /* Allow word wrap on mobile */
      margin: 0 auto; /* Center the container on mobile */
      padding: 0 20px; /* Adjust padding for mobile */
      text-align: left; /* Maintain left alignment for the text */
    }

    .container {
      padding-left: 0; /* Reset padding on mobile */
      margin: 0 auto; /* Center containers on mobile */
    }

    .form-container {
      display: flex;
      justify-content: center; /* Center the form container */
      align-items: center;
      flex-direction: column;
    }
  }
</style>


 


    {{!--{{breadcrumbs}}--}}

<section id="main-content" class="section hero-contact">
    <div class="hero-inner">
        <h1 class="intro-title-contact">{{t 'submit_a_request'}}</h1>
        <h2 class="visibility-hidden">{{ t 'search' }}</h2>
    </div>
</section>

<div class="container-divider"></div>

<div class="container">
  
     <p id="form-message"></p>
</div>
<div class="container">
    <div class="sub-nav"></div>
    <div id="main-content" class="form">
   
        <div id="new-request-form"></div>
    </div>
</div>

   <script>
        document.addEventListener('DOMContentLoaded', function() {
            const params = new URLSearchParams(window.location.search);
            const ticketFormId = params.get('ticket_form_id');

            if (ticketFormId) {
                fetch(`/api/v2/ticket_forms/${ticketFormId}.json`)
                    .then(response => response.json())
                    .then(data => {
                        const formName = data.ticket_form.name;
                        updatePageStyles(ticketFormId, formName);
                    })
                    .catch(() => {
                        console.error('Error fetching the form data');
                        updatePageStyles(ticketFormId, 'Submit a Request');
                    });
            }
        });
    

       document.addEventListener('DOMContentLoaded', function() {
    const params = new URLSearchParams(window.location.search);
    const ticketFormId = params.get('ticket_form_id');
    const formMessageElement = document.getElementById('form-message');

    if (ticketFormId) {
        fetch(`/api/v2/ticket_forms/${ticketFormId}.json`)
            .then(response => response.json())
            .then(data => {
                const formName = data.ticket_form.name;
                updatePageStyles(ticketFormId, formName);
            })
            .catch(() => {
                console.error('Error fetching the form data');
                updatePageStyles(ticketFormId, 'Submit a Request');
            });

      // Set the appropriate message based on the form ID with styled HTML content
        const formMessages = {
            '15525136863132': '',
            '15525228238620': `
                <p style="color: #000000;">
                    We are sorry for the disruption you have experienced. Please complete the form below and one of our Contact Centre Advisors will be in touch to arrange compensation.
                </p>
            `,
            '15525177480220': `
                <p style="color: #000000;">
                    Please Note, this form is to claim for a <strong>Taxi</strong> or <strong>Hotel</strong> cost which you have incurred due to disruption where we have announced you can claim.
                </p>
                <p style="color: #000000;">
                    If you require a <strong><span style="font-weight: bold;">ticket refund</span></strong>, click <a href="https://www.southwesternrailway.com/contact-and-help/train-ticket-refunds" style="color: #0092CB; font-weight: bold;">here</a>.
                </p>
                <p style="color: #000000;">
                  If you need to claim <strong><span style="font-weight: bold;">delay repay</span></strong>, click <a href="https://www.southwesternrailway.com/contact-and-help/delay-repay" style="color: #0092CB; font-weight: bold;">here</a>.
                </p>
            `,
            'default': ''
        };

        // Set the message using innerHTML
        const message = formMessages[ticketFormId] || formMessages['default'];
        formMessageElement.innerHTML = message;
    }
});


        function updatePageStyles(ticketFormId, formTitle) {
            const heroElement = document.querySelector('.hero-contact');
            const formElement = document.querySelector('.form');

            document.querySelector('.intro-title-contact').innerText = formTitle;

            // Apply styles to hero section and form based on form ID
            switch(ticketFormId) {
                case '15525136863132':
                    heroElement.style.backgroundColor = '#061b2b';
                    heroElement.style.color = '#ffffff';
                    formElement.style.backgroundColor = '#061b2b';
                    formElement.style.color = '#ffffff';
                    break;
                case '15525228238620':
                    heroElement.style.backgroundColor = '#061b2b';
                    heroElement.style.color = '#ffffff';
                    applyTextColor(heroElement, '#ffffff');  // Ensure all hero text is #000000
                    formElement.style.backgroundColor = '#061b2b';
                    formElement.style.color = '#0ffffff';
                    applyTextColor(formElement, '#fffffff');  // Apply text color to all text within the form
                    break;
                case '15525177480220':
                    heroElement.style.backgroundColor = '#061b2b';
                    heroElement.style.color = '#ffffff';
                    formElement.style.backgroundColor = '#061b2b';
                    formElement.style.color = '#ffffff';
                    break;
                case '15525392680220':
                    heroElement.style.backgroundColor = '#061b2b';
                    heroElement.style.color = '#ffffff';
                    formElement.style.backgroundColor = '#061b2b';
                    formElement.style.color = '#ffffff';
                    break;
                default:
                    heroElement.style.backgroundColor = '#061b2b';
                    heroElement.style.color = '#ffffff';
                    formElement.style.backgroundColor = '#061b2b';
                    formElement.style.color = '#ffffff';
                    break;
            }

            // Apply styles to the form container
            formElement.style.padding = '40px'; // Ensure sufficient padding
            formElement.style.borderRadius = '8px'; // Optional: rounded corners
          
  
        }

        // Helper function to apply text color to all child elements within the hero and form
        function applyTextColor(element, color) {
            element.querySelectorAll('h1, h2, h3, p, label, span, div').forEach(function(child) {
                child.style.color = color;
            });
        }
        </script>
    <script type="module">
    import { renderNewRequestForm } from "new-request-form";

    const container = document.getElementById("new-request-form");

    const settings = {{json settings}};

    const props = {
        requestForm: {{json new_request_form}},
        newRequestPath: {{json (page_path 'new_request')}},
        parentId: {{json parent.id}},
        parentIdPath: {{json parent.url}},
        locale: {{json help_center.locale}},
        baseLocale: {{json help_center.base_locale}},
        hasAtMentions: {{json help_center.at_mentions_enabled}},
        userRole: {{json user.role}},
        brandId: {{json brand.id}},
        wysiwyg: true,
        answerBotModal: {
            answerBot: {{json answer_bot}},
            hasRequestManagement: {{json help_center.request_management_enabled}},
            isSignedIn: {{json signed_in}},
            helpCenterPath: {{json (page_path 'help_center')}},
            requestsPath: {{json (page_path 'requests')}},
            requestPath: {{json (page_path 'request' id=answer_bot.request_id)}}
        },
    };

    renderNewRequestForm(settings, props, container);

    document.addEventListener("DOMContentLoaded", function() {
        const formContainer = document.querySelector('.form-container');
        formContainer.classList.add('ready');
        
        // Listen for the form submission event
        const form = document.querySelector('#new-request-form form'); // Adjust the selector if needed

        if (form) {
            // Listen for the Zendesk form submit event
            form.addEventListener('submit', function(event) {
                // Allow the form to submit as usual, do not prevent default submission
                // Monitor the form submission completion
                const formSubmitInterval = setInterval(() => {
                    // Check if the form submission process is complete
                    if (document.querySelector('.zd-form-submission-success-message')) {
                        clearInterval(formSubmitInterval);
                        // Redirect to the desired URL
                        window.location.href = 'https://www.southwesternrailway.com/';
                    }
                }, 1000); // Check every 1 second for submission completion
            });
        }
    });
</script>

<script>
 
    $("<p>Please upload your product receipt here.<p>").insertAfter('label:contains("Attachments")'); // Adds text below "Attachments"
  
</script>

